{% extends "admin_index.html" %}

{% block nav_sidebar %}
    <ul class="nav nav-sidebar">
        <li><a href="{{ url_for('admin.blog_index') }}">博客文章</a></li>
        <li class="active"><a href="{{ url_for('admin.category_index') }}">文章分类<span class="sr-only">(current)</span></a></li>
        <li><a href="{{ url_for('admin.user_index') }}">用户管理</a></li>
        <li><a href="{{ url_for('admin.comment_index') }}">评论管理</a></li>
        <li><a href="{{ url_for('admin.message_index') }}">站内信管理</a></li>
    </ul>
{% endblock %}

{% block table_content %}
    <h2 class="sub-header">文章分类</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>名称</th>
                    <th>默认条目</th>
                    <th>文章数量</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td><a href="{{ url_for('admin.blog_by_category_index', name=category.name) }}">{{ category.name }}</a></td>
                        <td>{{ category.default }}</td>
                        <td>{{ category.posts.count() }}</td>
                        <td>
                            <a href="{{ url_for('admin.category_edit', _id=category.id, next=next) }}" class="btn btn-warning btn-xs" role="button">编辑</a>
                            {% if not category.default %}
                                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target=".bs-delete-modal-sm-{{ category.id }}">删除</button>
                                <div class="modal fade bs-delete-modal-sm-{{ category.id }}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                    <div class="modal-dialog modal-sm" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title">警告！</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>请确认，是否删除该分类条目？</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                <form class="blog-delete" action="{{ url_for('admin.category_delete') }}" method="post">
                                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                                    <input type="hidden" name="_id" value="{{ category.id }}">
                                                    <input type="hidden" name="next" value="{{ next }}">
                                                    <button type="submit" class="btn btn-danger">删除</button>
                                                </form>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block admin_index_pagination %}
    {% if pagination and pagination.pages > 1 %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, 'admin.category_index') }}
        </div>
    {% endif %}
{% endblock %}