<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ blog.title }}</title>
</head>
<body>
    <div>{{ blog.title }}</div>
    <div>作者：{{ blog.author() }}</div>
    <article id="id-blog-content" class="markdown-body">{{ blog.content }}</article>
    <div id="id-blog-comment">
        {% if user %}
            <form action="{{ url_for('comment.add') }}" method="post">
                <input type="hidden" name="blog_id" value="{{ blog.id }}">
                <textarea name="content" placeholder="请输入评论内容"></textarea>
                <button value="发表评论">发表评论</button>
            </form>
        {% endif %}
        <div id="id-blog-comment-content">
            {% for comment in comments %}
                <div>
                    <p class="markdown-body">
                        {{ comment.content }}
                    </p>
                    {% if blog.user_id == user.id %}
                        <form action="{{ url_for('comment.delete') }}" method="post">
                            <input type="hidden" name="blog_id" value="{{ blog.id }}">
                            <input type="hidden" name="comment_id" value="{{ comment.id }}">
                            <input type="hidden" name="author_id" value="{{ blog.user_id }}">
                            <button value="删除">删除</button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/github-markdown-css@4.0.0/github-markdown.css">
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.20.0/prism.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.20.0/themes/prism.css">
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.20.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script>
        let BlogDiv = document.querySelectorAll('.markdown-body');
        for (let i = 0;i < BlogDiv.length; i++) {
            let content = BlogDiv[i].textContent;
            BlogDiv[i].innerHTML = marked(content);
        }
        Prime.plugins.autoloader.language_path = 'https://cdn.jsdelivr.net/npm/prismjs@1.20.0/components/';
    </script>
</body>
</html>