{% extends "admin_index.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/highlight.js@10.5.0/styles/github.css">
{% endblock %}

{% block nav_sidebar %}
    <ul class="nav nav-sidebar">
        <li class="active"><a href="{{ url_for('message.inbox_index') }}">收件箱<span class="sr-only">(current)</span></a></li>
        <li><a href="{{ url_for('message.outbox_index') }}">发件箱</a></li>
    </ul>
{% endblock %}

{% block page_title %}站内信{% endblock %}

{% block table_content %}
    <h2 class="sub-header">收件箱</h2>
    {% set inbox_index = True %}
    {% include "_messages.html" %}
{% endblock %}

{% block admin_index_pagination %}
    {% if pagination and pagination.pages > 1 %}
        <div class="pagination">
            {% if endpoint %}
                {{ macros.pagination_widget(pagination, endpoint, _id=_id) }}
            {% else %}
                {{ macros.pagination_widget(pagination, 'message.inbox_index') }}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.5.0/build/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/highlightjs-line-numbers.js@2.8.0/dist/highlightjs-line-numbers.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
        hljs.initLineNumbersOnLoad();
    </script>
{% endblock %}